
.devise_top {
  border: black solid 1px;
  margin :0 auto;
  height: 550px;
  position: absolute;
  display: flex;
  width: 80%;
  padding: 5%;
  background-image: url("/assets/tabinabitop.jpg");
}
.devise_left {
  color: white;
  width: 70%;
  font-size: 30px;
  height: 400px;
}

.device_right{
  width: 30%;
}

.devise_tytle {
  
  height: 40px;
  position: relative;
  text-align: center;
  color: white;
}

.devise_body {
  border: tomato solid 1px;
  margin: 10px 0;
  padding: 10px 0;
  background-color: white;
  color: black;
}
