.header {
  background-color: rgb(252, 178, 129);
  margin-bottom: 0;
  padding: 10px 0;
}
.inner {
  width: 1024px;
  margin: 0 auto; 
}

.main-header{
  display: flex;
}

.logo {
  color: white;
  font-size: 35px;
}

.btn1 {
  font-size: 20px;
  margin:0 30px 0 400px;
}

.btn2 {
  font-size: 20px;
  margin: 0 30px;
}

.sub-header {
  margin-bottom: 48px;
  padding: 10px 0;
  background-color: rgb(252, 178, 129);
  border-top: red solid 1px;
}

.user-list{
  font-size: 17px;
  margin-top: 8px;
  padding: 6px 10px;
  border: red solid 1px;
  background-color: white;
}

.sub-inner{
  width: 1024px;
  margin: 0 auto; 
  display: flex;
  justify-content: space-around;
}

.main-header-left{
  width: 70%;
}
.main-header-right{
  position: relative;
}

.show-lists{
  width: 150px;
  position: absolute;
  left: 110px;
  top: 10px;
  background-color: #ffffff;
  border: black solid 1px;
}

.pull-down-list{
  padding: 5px;
  border: 1px solid #eee;
}

.hidden{
  display: none;
}



.footer {
  background-color: #999;
  padding: 10px 0;
  margin-top: 80px;
  height: 80px;
}
.copyright {
  text-align: center;
  margin-top: 18px;
  color: #fff;
  font-size: 10px;
}