.new_spot_form {
  width: 80%;
  margin-left: 20px;
}
.new_spot_form_first  {
  display: flex;
  justify-content:space-between;
  height: 70px;
  width: 80%;
}

.new_spot_form_second {
  height: 350px;
  margin: 10px 0 10px 0;
}

.new_spot_form_therd {
  display: flex;
  justify-content:space-between;
  /* height: 70px; */
  /* width: 80%; */
  margin: 10px 0 50px 0;
}

.input-tag {
  width: 300px;
}

.button-spot {
  display: inline-block;
  text-align: center;
  padding: 13px 88px;
  background: rgba(255, 127, 0, 0.78); 
  color: #ffffff;
  line-height: 1em;
  box-shadow: 5px 5px 16px #666666;
}

.show_title {
  display: flex;
  align-items: center;
}

.show_title_left{
  width: 60%;
}

.show_title_right {
  margin-left: 100px;
  height: 50px;
}

.show_btn {
  display: inline-block;
  text-align: center;
  padding: 13px 50px;
  background: rgba(255, 127, 0, 0.78); 
  color: #ffffff;
  line-height: 1em;
  box-shadow: 5px 5px 16px #666666;
  margin: 0 10px;
}

.show_main_first {
  display: flex;
}

.show_main_first_left {
  width: 60%;
}

.show_main_first_right {
  padding-left: 30px;
  width: 40%;
  margin-top: 30px;
}

.sub_image {
  background-color: chartreuse;
  height: 100px;
}

.info_show {
  margin: 40px 0;
  padding: 10px;
}

.info_show_text {
  border: orange solid 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  line-height: 30px
}

.chat_info{
  margin-bottom: 10px;
}

.message_show {
  border: orange solid 1px;
  overflow-y: scroll;
  height: 200px;
  padding-left: 20px;
  line-height: 20px
}

.message_form{
  background-color:rgb(255, 231, 187);
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 80%;
}
.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: orange;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}